<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUp1FzH3nc2OXl-BQZqURoJ9bubzCoWIjlBA&s" width="500" >
</enter><br> Pada jupyter notebooks jenis <b>cell</b> terbagi menjadi
<ol>
    <li>M (Mark Down) -> M</li>
    <li>Y (Code) -> Y</li>
</ol>
<hr>

Cara menambahkan <b>cell</b> terbagi menjadi 2:
<ul>
    <li>A - (Above) Menambah diatas cell aktif</li>
    <li>B - (Below) Menambah dibawah cell aktif</li>
</ul>

<table>
    <tr>
        <td>Perintah</td>
        <td>Keterangan</td>
    </tr>
    <tr>
        <td>Ctrl + Enter</td>
        <td>Running progran dengan fokus di cell aktif</td>
    </tr>
    <tr>
        <td>Shift + Enter</td>
        <td>Running progran dengan fokus di cell berikutnya</td>
    </tr>
    
</table>

In [5]:
#this is comment
print("Python is very easy")
data = "5"
print(data)
data
5+5

Python is very easy
5

10

In [28]:
name = "Rasyah"
address = "Jln. Mufakat","531111"
age = 18
scorePython = 88.9
isMarried = False
province = "12928129883"

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai program :",scorePython)
print("Status Menikah :",isMarried)
print("Propinsi :",provinces)

Nama : Rasyah
Alamat : ('Jln. Mufakat', '531111')
Umur : 18
Nilai program : 88.9
Status Menikah : False
Propinsi : 12928129883

In [36]:
print("Tipe data <Name>",type(name))
print("Tipe data <address>",type(address))
print("Tipe data <age>",type(age))
print("Tipe data <scorePython>",type(scorePython))
print("Tipe data <isMarried>",type(isMarried))

Tipe data <Name> <class 'str'>
Tipe data <address> <class 'tuple'>
Tipe data <age> <class 'int'>
Tipe data <scorePython> <class 'float'>
Tipe data <isMarried> <class 'bool'>

In [30]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)

#2. int ke (str,boolean,fload)
intToStr = str(age)
intToBool = bool(age)
intToFloat = float(age)

#3. Float ke (int,str,boolean)
floatToInt = int(scorePython)
floatToStr = str(scorePython)
floatToBool = bool(scorePython)

#4. boolean ke (int,str,fload)
BooleanToInt = int(isMarried)
BooleanToStr = str(isMarried)
BooleanToFload = float(isMarried)

In [31]:
#Tipe data basis bilangan (desimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xdd #255

print("Nilai desimal :",desimal)
print("Nilai biner :",biner)
print("Nilai octal :",octal)
print("Nilai hexa :",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai octal dari ",desimal, ":",oct(desimal))
print("Nilai hexa dari ",desimal, ":",hex(desimal))

Nilai desimal : 500
Nilai biner : 10
Nilai octal : 255
Nilai hexa : 221
Nilai biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai hexa dari  500 : 0x1f4

In [34]:
city = "MALUKU"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

M
6
U

In [44]:
#Tipe data Collection
cities = ["Bandung","Sukabumi","Bogor","Jakarta"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" Akan menyebabkan error out of range
print(cities)

names = ("Muhammad","Rasyah","Aditya")
print(names)
print(names[0])
#names[0] = "andi" error immutable tuple

studentData = {
    "name" : "Fajar",
    "age" : 29,
    "address" : {
        "street" : "Parung",
        "number" : 24,
        "province" : "jawa barat"
    },
    "isMarried" : True,
    "Hobbies" : ["Berenang", "FootBall"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["Hobbies"][1])

studentlist = [
     {
        "name" : "Fajar",
        "age" : 29,
        "address" : {
            "street" : "Parung",
            "number" : 24,
            "province" : "jawa barat"
        },
        "isMarried" : True,
        "Hobbies" : ["Berenang", "FootBall"]
     },
     {
        "name" : "Rasford",
        "age" : 19,
        "address" : {
            "street" : "Jerman",
            "number" : 5,
            "province" : "jawa barat"
        },
        "isMarried" : True,
        "Hobbies" : ["Berenang", "FootBall"]
    } 
]

print(studentlist[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta']
Bandung
Jakarta
J
a
['Bali', 'Sukabumi', 'Bogor', 'Jakarta']
('Muhammad', 'Rasyah', 'Aditya')
Muhammad
{'name': 'Fajar', 'age': 29, 'address': {'street': 'Parung', 'number': 24, 'province': 'jawa barat'}, 'isMarried': True, 'Hobbies': ['Berenang', 'FootBall']}
29
jawa barat
FootBall
jawa barat

In [ ]:
#Konversi dictionery

list_list = [["Name","Rasyah"],["age",18],["Status",True]]
diclistStudent = dict(list_list)
print(diclistStudent)

list_tuple = [("Name","Rasford"),("Address","Barcelona")]
dictupleStudent = dict(tuple_list)
print(dictupleStudent)